@page
@model Hue05.Pages.AnzeigeelementModel
@{
}
<body style="background-image:url('/img/1234.jpg' );background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
background-size:cover">

<b>

        Die Gehzeit beträgt @Model.zeit Stunden oder auch @Model.zeitmin Minuten

</b>

</body>