@page
@model _14_SecondWebApp.Pages.CollatzModel
@{
}
<form method="post" asp-page-handler="Collatz">
    <div>
        <input type="number" id="summand1" name="summand1" />
    </div>
    <button type="submit">Collatz</button>

</form>
</div>
