@page
@model _14_SecondWebApp.Pages.CollatzModel
@{

}
<form method="post" asp-page-handler="Collatz">
    <div>
        <input type="number" id="zahl" name="zahl" />
    </div>
    <button type="submit">Collatz</button>

</form>
<p>


