@page
@model _13_FirstWebApp.Pages.PersonModel
@{
}

<div class="container-md">
    <div class="row">
        <div class="col-md-6">
            Firstname:

        </div>
        <div class="col-md-6">
            @Model.Firstname
        </div>
        <div class="col-md-6">
            Lastname:

        </div>
        <div class="col-md-6">
            @Model.Lastname
        </div>
        <div class="col-md-6">
            Mails:
        </div>
        <div class="col-md-6">
            @foreach (var item in Model.Mails)
            {
                @item
                <br />
            }
        </div>
        <img src="/Images/@Model.Image" />
    </div>
</div>
