@page
@model _14_SecondWebApp.Pages.ResultModel
@{
}
<p>Wir sind richtig angelangt</p>

<p>@Model.Calculation @Model.Result</p>
    <a class="nav-link text-dark" asp-area="" asp-page="/@Model.Seitenelment">Zurück</a>

